.menubox{
    display: grid;
    background-color: gray;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: 
    "title menu";
  
  }
  
  #title{
    grid-area: title;
    align-items: center;
  }
  #menu {
    grid-area: menu;
   display: flex;
   justify-content: end;
   align-items: center;
   height: 100px;
  
  }
  #menu ul {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 0;
    display: flex;
    gap: 20px;
  }
  #menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }