* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  background-color: #f0ffff;
}

.box {
  width: 100%;
  width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "men"
    "con"
    "lo";
}

.text-size-box {
  position: fixed;
  bottom: 20px; /* avstånd från botten */
  right: 20px;  /* avstånd från höger */
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  z-index: 9999;
}

.text-size-box button {
  font-size: 24px;
  padding: 5px 15px;
  margin: 0 5px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.text-size-box button:hover {
  background-color: #ddd;
}


.menubox {
  height: 100px;
  grid-area: men;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas: "title menu";
}

#title {
  grid-area: title;
  align-items: center;
}
#menu {
  grid-area: menu;
  display: flex;
  justify-content: end;
  align-items: center;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  gap: 20px;
}
#menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.container {
  display: grid;
  grid-area: con;
  justify-content: center;
  background-color: #b3e0e6;
  border-radius: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "h h h"
    "inist tiktok face"
    ;
}
h2 {
  grid-area: h;
  text-align: center;
}

#gram {
  padding: 10px;
  grid-area: inist;
}

#tiktok {
  padding: 10px;
  grid-area: tiktok;
}

#face {
  padding: 10px;
  grid-area: face;
}

.icon p {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: 80px;
  margin-left: 150px;
  margin-bottom: 50px;
  padding-top: 0px;
  justify-items: center;
}

.maps {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "h"
    "lo";
}
#location {
  grid-area: lo;
}

@media screen and (max-width: 1200px) {
  .box {
    width: 100%;

  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "h h h"
    "inist tiktok face"
    ;
  }
}


@media screen and (max-width: 1000px) {
  .box {
    width: 100%; 
 
  }

  .container {
    grid-template-columns: 1fr 1fr; 
    grid-template-areas:
      "h h"
      "inist tiktok"
      "face face";
  }
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
  }

  .container {
    grid-template-columns: 1fr; 
    align-content: center;
    justify-items: center;
    grid-template-areas:
      "h"
      "inist"
      "tiktok"
      "face";
    
  }
  .icon {
  padding-right: 80px;
  margin-left: 100px;
  margin-bottom: 50px;
  padding-top: 0px;
  justify-items: center;
}
}