* {
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  background-color:azure ;
}
.box{
  width: 1200px;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas: 
  "men"
  "ru"
  "con";
}
.rubrik{
  grid-area: ru;
}

.menubox{
  height: 100px;
  grid-area: men;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas: 
  "title menu";

}

#title{
  grid-area: title;
  align-items: center;
}
#menu {
  grid-area: menu;
 display: flex;
 justify-content: end;
 align-items: center;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  gap: 20px;
}
#menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container {
  grid-area: con;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
 
}


.class{
  box-shadow: 10px 10px rgb(210, 252, 252);
  background-color: lightcyan;
  height: 450px;
  display: grid;
  grid-template-rows: 1fr 50px 80px;
  grid-template-areas: 
  "img"
  "h2"
  "p";
  
}

.class p, .card p{
  display: none;
}

.class:hover, .class:hover p, .card:hover, .card:hover p{
  display: block;
  height: 550px;
  transition: 1s;
}

p{
  grid-area: p;
}


h2{
  grid-area: h2;
}
#ror{
  grid-area: img;
  border-radius: 20px;
  width: 100%;
  padding: 0px;
}

.card{
  box-shadow: 10px 10px rgb(210, 252, 252);
  background-color: lightcyan;
  position: relative;
  left: 300px;
  height: 450px;
  display: grid;
  grid-template-rows: 1fr 50px 80px;
  grid-template-areas: 
  "img"
  "h2"
  "p";
  
}


#rep{
  grid-area: img;
  border-radius: 20px;
  width: 100%;
  padding: 0px;

  
}

#ins{
  grid-area: img;
  border-radius: 20px;
  width: 100%;
  padding: 0px;

}
