* {
  box-sizing: border-box;
}

body{
 
  display: flex;
  justify-content: center;
  background-color:azure ;
}

.box{
  max-width: 1200px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "men"
  "con ";
}

.container {
  grid-area: con;
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "p p p"
    "s y 2"
    "s y 2";
  gap: 20px;
}
.container div {
  border-radius: 15px;
  padding: 10px;
}
.class{
  display: grid;
}
.menubox{
  height: 100px;
  grid-area: men;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas: 
  "title menu";

}

#title{
  grid-area: title;
  align-items: center;
}
#menu {
  grid-area: menu;
 display: flex;
 justify-content: end;
 align-items: center;
 height: 100px;

}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  gap: 20px;
}
#menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#twoguys {
  background-color: aqua;
  grid-area: 2;
  margin: 0;
  object-fit: contain;
}
#services {
  background-color: bisque;
  grid-area: s;
}

#yapp {
  background-color: brown;
  grid-area: y;
}

#picture {
  top: 100px;
  background-color: coral;
  grid-area: p;
}
