* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
    "m m m"
    "p p p"
    "s y 2"
    "s y 2";
  gap: 20px;
}
.container div {
  border-radius: 15px;
  padding: 10px;
}

#menu {
  max-height: 100px;
  grid-area: m;
  display: grid;
  align-items: center;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  gap: 20px;
}
#menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#twoguys {
  background-color: aqua;
  grid-area: 2;
  margin: 0;
  object-fit: contain;
}
#services {
  background-color: bisque;
  grid-area: s;
}

#yapp {
  background-color: brown;
  grid-area: y;
}

#picture {
  top: 100px;
  background-color: coral;
  grid-area: p;
}
